__pycache__/
.venv/
env/
venv/
.env
.env.*
*.pyc
*.pyo
*.pyd
.mypy_cache/
.pytest_cache/
.vscode/
.idea/
*.sqlite3
*.db
*.log
dist/
build/
*.egg-info/
*.egg
*.bak
*.swp
*.swo
*.orig
coverage.xml
.coverage
.cache/
pip-wheel-metadata/
__pypackages__/
*.manifest
*.spec
*.lock
*.tmp
*.out
*.DS_Store
Thumbs.db
discord.log
